.basepath {
  height: 110px;
  width: 160px;
  border: 1px solid rgb(255, 137, 59);
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background: rgb(255, 137, 59);
}

.basepath label {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.basepath input {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  width: 150px;
}
