.repeat {
    background-image: url("../images/repeat.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}

.start {
    background-image: url("../images/start.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}

.finish {
    background-image: url("../images/end.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}

.when {
    background-image: url("../images/when.png");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}