.action {
  background: rgb(224, 79, 79);
  width: 75px;
  height: 55px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 2px;
  margin-left: 10px;
  margin-top: 15px;
}

.basepath-item {
  background: rgb(255, 255, 255);
  width: 75px;
  border: 2px solid rgb(255, 137, 59);
  height: 55px;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
}

.rrf-item {
  background: rgb(255, 255, 255);
  width: 75px;
  border: 2px solid rgb(77, 2, 70);
  height: 55px;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

.data {
  background: rgb(88, 184, 248);
  width: 75px;
  height: 55px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
}

.subflow-item {
  background: #ffffff;
  width: 75px;
  height: 55px;
  border: 2px solid rgb(161, 247, 150);
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
}

.call {
  background: rgb(255, 255, 255);
  width: 75px;
  border: 2px solid rgb(185, 50, 212);
  height: 55px;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
}

.repeat {
  background: rgb(255, 255, 255);
  width: 75px;
  border: 2px solid rgb(49, 99, 68);
  height: 55px;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
}

.quit  {
  background: rgb(255, 255, 255);
  width: 75px;
  border: 2px solid rgb(15, 0, 102);
  height: 55px;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
  margin-left: 10px;
  padding-top: 15px;
}

.end {
  background-image: url("../../images/end.png");
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 10px;
}
.start {
  background-image: url("../../images/startflow.png");
  background-size: 80px 80px;
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

